.archive-list {
}
.archive-list ul {
  list-style-type:none;
  border-bottom:1px solid #ccc;
}
.archive-list ul li {
  vertical-align:top;
  display:inline-block;
  transition:background .15s linear;
  text-decoration:none;
  color:#fff;
  padding:20px;
  cursor:pointer;
}
.archive-list ul li:hover {
  background:rgba(110,110,110,0.5);
}
.archive-info img {
  display:block;
  margin:0 auto;
  width:80%;
}
.archive-row {
  padding:20px 0px;
  border-bottom:1px solid #ccc;
}