.archive-list {
}
.archive-list ul {
  list-style-type:none;
  border-bottom:1px solid #ccc;
}
.archive-list ul li {
  vertical-align:top;
  display:inline-block;
  transition:background .15s linear;
}
.archive-list ul li:hover {
  background:rgba(110,110,110,0.5);
}
.archive-list ul li a {
  display:block;
  text-decoration:none!important;
  color:#fff!important;
  padding:20px;
  font-size:12px;
}
.archive-info {
  background:lightblue;
}
