p {
  margin-bottom:5px;
}
p span {
  color:#E33009;
}
input, textarea {
  margin-bottom:20px;
  padding:10px;
  border-radius:20px;
  width:250px;
  outline:none;
  border:none;
  font-family:Open Sans, Helvetica, sans-serif;
  box-sizing:border-box;
}
textarea {
  width:50%;
  height:250px;
  resize:none;
}
input[type="button"] {
  display:block;
  cursor:pointer;
  width:auto;
  padding:10px 30px;
  background:#E33009;
  box-shadow:0px 4px #a52103;
  border-radius:20px;
  color:#fff;
  font-weight:700;
  position:relative;
}
input[type="button"]:active {
  top:4px;
  box-shadow:none;
  background:#a52103;
}
#error p {
  color:#E33009;
  margin:0;
}
@media only screen and (max-width:960px) {
  textarea {
    width:75%;
  }
}
@media only screen and (max-width:731px) {
  h2 {
    text-align:center;
  }
  input, textarea {
    width:100%;
  }
  input[type="button"] {
    width:100%;
  }
}
