.site-wrap {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.intro button {
  margin:0 auto;
}
.intro-img {
  margin:0 auto;
}
.intro h1 {
  font-size:72px;
  height:75px;
  margin:20px 0px;
}
.intro h2 {
  text-align:center;
  color:#fff;
  margin-bottom:40px;
}
.launch-counter {
  text-align:center;
}
@media only screen and (max-width:960px) {
  .intro h1 {
    font-size:62px;
  }
}
@media only screen and (max-width:731px) {
  .intro h1 {
    font-size:48px;
    margin:10px 0px;
  }
  .intro h2 {
    margin-bottom:20px;
  }
}
@media only screen and (max-width:400px) {
  .intro h1 {
    font-size:28px;
  }
}