html {
  background:#191919;
}
* {
  margin:0;
  padding:0;
}
p, ul li, button, a {
  font-family:Open Sans, Helvetica, sans-serif;
  color:#fff;
  font-size:16px;
}
a {
  color:#E33009;
}
h1,h2,h3 {
  font-family:Domine, serif;
  color:#FDD923;
}
p {
  margin-bottom:20px;
}
b {
  color:#FDD923;
}
button {
  background:#E33009;
  border-radius:20px;
  box-shadow:0px 4px #a52103;
  outline:none;
  border:none;
  padding:10px 30px;
  font-size:16px;
  position:relative;
  display:block;
}
button a {
  display:block;
  text-decoration:none;
  color:#fff;
  font-weight:700;
}
button:active {
  top:4px;
  box-shadow:none;
  background:#a52103;
}
.active {
  border-bottom:1px solid #fff;
}
[class^="col"] {
    box-sizing:border-box;
}
.col-12 {
    width:100%;
}
.col-10 {
    width:83%;
}
.col-9 {
    width:75%;
}
.col-8 {
    width:66%;
}
.col-6 {
    width:50%;
}
.col-5 {
    width:41%;
}
.col-4 {
    width:33%;
}
.col-3 {
    width:24%;
}
.col-2 {
    width:16%;
}
.site-wrap {
  width:960px;
  padding:20px;
  padding-top:0px;
  z-index:1;
  margin:0 auto;
  box-sizing:border-box;
}
.header {
  margin-top:20px;
  position:relative;
  z-index:2;
}
.header ul {
  display:block;
  text-align:center;
  list-style-type:none;
  background:#191919;
}
.header ul li {
  display:inline-block;
}
.header ul li a {
  text-decoration:none;
  padding:10px 15px;
  color:#fff;
  display:block;
}
#hb-icon {
  width:25px;
  margin:0 auto;
  display:none;
}
#hb-icon:focus {
  outline:#E33009;
}
#hb-icon img {
  width:100%;
}
.intro {
  padding:50px 0px;
}
@keyframes hopp {
  0%,100% {
    margin-top:0;
    margin-bottom:25px;
  }
  50% {
    margin-top:25px;
    margin-bottom:0px;
  }
}
#rocket-animate {
  animation:hopp 5s infinite;
}
@media only screen and (max-width:1320px) {
  .col-d-12 {
    width:100%;
  }
}
@media only screen and (max-width:960px) {
  .col-t-12 {
      width:100%;
  }
  .col-t-10 {
      width:83%;
  }
  .col-t-9 {
      width:75%;
  }
  .col-t-8 {
      width:66%;
  }
  .col-t-6 {
      width:50%;
  }
  .col-t-5 {
      width:41%;
  }
  .col-t-4 {
      width:33%;
  }
  .col-t-3 {
      width:24%;
  }
  .col-t-2 {
      width:16%;
  }
}
@media only screen and (max-width:731px) {
  .col-m-12 {
      width:100%;
  }
  .col-m-10 {
      width:83%;
  }
  .col-m-9 {
      width:75%;
  }
  .col-m-8 {
      width:66%;
  }
  .col-m-6 {
      width:50%;
  }
  .col-m-5 {
      width:41%;
  }
  .col-m-4 {
      width:33%;
  }
  .col-m-3 {
      width:24%;
  }
  .col-m-2 {
      width:16%;
  }
  p, ul li, button, a {
    font-size:11px;
  }
  .header ul {
    display:block;
  }
  .intro {
    padding:20px 0px;
  }
  .intro-text {
    margin:10px 0px;
  }
}
@media only screen and (max-width:400px) {
  .header ul {
    display:none;
  }
  #hb-icon {
    display:block;
  }
  .active {
    border-bottom:none;
    background:rgba(110,110,110,0.5);
  }
  .header ul li {
    display:block;
  }
  .intro h1 {
    font-size:28px;
  }
}
